:root {
    /* fonts */
    --main-font: "Open Sans";
    --secondary-font: "Raleway";

    /* text */
    --accent-txt-cl: #FF6C00;   
    --secondary-txt-cl: rgba(157, 164, 189, 0.6);
    --third-txt-cl: #9DA4BD;
    --main-light-theme: #303030;
    --main-dark-theme:#ffffff;

    /* bgd */
    --bgc: #F7F7F7;

    /* others */
    --dst: 30px;
    --cnt: 2;
    --anim-reg: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
    line-height: 1.67;
}

/* common styles start */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;   
}

h1,
h2,
h3,
h4,
ul,
p,
button {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--accent-txt-cl);
    border-radius: 25px;
    width: 160px;
    height: 40px;
}

.btn-mode-light {
    color: var(--main-light-theme);

    transition: background-color var(--anim-reg), color var(--anim-reg);
}

.btn-mode-dark {
    color: var(--main-dark-theme);

    transition: background-color var(--anim-reg), color var(--anim-reg);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-txt-cl);
    color: var(--main-dark-theme);
    cursor: pointer;
}

.sotial-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-light-theme);

    transition: color var(--anim-reg);
}

.sotial-link:focus,
.sotial-link:hover {
    color: var(--accent-txt-cl);
}

.uppertitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
    margin-bottom: 20px;  
}

.uppertitle-mode-light {
    color: var(--main-light-theme);
}

.uppertitle-mode-dark {
    color: var(--secondary-txt-cl);
}

.section-title {
    font-family: 'Raleway';   
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em; 
    margin-bottom: 20px;
}

.section-title-mode-light {
    color: var(--main-light-theme);
}

.section-title-mode-dark {
    color: var(--main-dark-theme);
}

.section-paragraph { 
    font-weight: 400;    
    line-height: 1.67;
    letter-spacing: 0.02em;    
    margin-bottom: 20px;
}

.section-paragraph-mode-light {
    color: #555555;
}

.section-paragraph-mode-dark {
    color: var(--third-txt-cl);
}

.table-list {
    display: flex;
    flex-wrap: wrap;
}

.table-item {
    width: calc((100% - (var(--dst) * (var(--cnt) - 1))) / var(--cnt));
}
/* common styles end */

/* header section */
.price,
.contacts {
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    background-color: rgba(48, 48, 48, 0.5);
}

.header .container {
    display: flex;   
    align-items: center;       
}

.header-nav {   
    display: flex;
    width: 100%;
    align-items: center;        
}

.header-logo {  
    margin-right: 40px;   
}

.header-img {
    display: block;
}

.header-list {
    display: flex;    
}

.header-list-item {
    position: relative;
}

.header-list-item:not(:last-child) {
    margin-right: 40px;
}

.header-link {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-dark-theme);

    padding-top: 52px;
    padding-bottom: 52px;

    transition: color var(--anim-reg);
}

.header-link:focus,
.header-link:hover,
.header-contacts:focus,
.header-contacts:hover {
    color: var(--accent-txt-cl);
}

.header-group {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-dark-theme);

    margin-right: 40px;
    padding-top: 52px;
    padding-bottom: 52px;
    transition: color var(--anim-reg);
}

.activ-pg {
    color: var(--accent-txt-cl);
}

.activ-pg::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: currentColor;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-30px);
}

/* hero section */
.hero {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(../images/Slider.jpg), linear-gradient(to right, #fff 155px, rgba(25, 28, 38, 0.2) 155px);
    background-position: top right, center;   
    background-repeat: no-repeat, no-repeat;
    background-size: 1125px 698px, cover;    
}

.hero-title {    
    font-size: 72px;
    line-height: 1.18;   
    letter-spacing: 0.05em;
}

.hero-btn {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: var(--secondary-txt-cl);
    background-color: transparent;

    transition: color var(--anim-reg);
}

.hero-btn:focus,
.hero-btn:hover {
    color: var(--main-dark-theme);
}

.hero-list {
    display: flex;   
    align-items: center;
    margin-bottom: 40px;
    transform: translateX(48px) rotate(-90deg);
    transform-origin: bottom left;
  
}

.hero-list::before {
    content: '';    
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background-color: var(--main-light-theme);
}

.hero-list-item {
    margin-right: 40px;
}

.hero-link-item:last-child {
    margin-right: 0;
}

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-light-theme);  
}

.slider-pagination {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-16px, -50%);         
}

.slider-pagination-item {
    width: 8px;
    height: 2px;
    margin-bottom: 12px;
    margin-left: auto;
    background-color: var(--third-txt-cl);
}

.slider-pagination-item:last-child {
    margin-bottom: 0;
}

.slider-pagination-item.current {
    width: 18px;
    background-color: var(--main-dark-theme);
}

.slider-control {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translate(-16px, -40px);   
    color: #ffffff;
}

.slider-control-item:first-child {
    margin-right: 26px;
}

.slider-btn {    
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;    
    letter-spacing: 0.1em;
    text-align: left;
    min-width: 60px;
    padding-bottom: 8px;
    
    background-color: transparent;
    border: none;
    color: var(--secondary-txt-cl);
    border-bottom: 1px solid currentColor;
    cursor: pointer;
}

.slider-btn-prev {
    text-align: left;
}

.slider-btn-next {
    text-align: right;
}

.slider-btn:hover,
.slider-btn:focus {
    color: var(--main-dark-theme);
}

.hero-wrp {
    display: flex;
    position: relative;
}

.hero-left-side {
    display: flex;
    align-items: flex-end;
    max-width: 100px;
    flex-basis: 100px;
}   

.hero-right-side {
    flex-grow: 1;
    padding-top: 272px;   
    padding-bottom: 206px;
    max-width: 500px;
    margin-left: 100px;
}


/* about section */
.about {
    padding-top: 130px;
    padding-bottom: 130px;
}

.about-wrp {
    display: flex;
}

.about-list {
    display: flex;
}

.about-img {
    display: block;
}

.about-list-item:first-child {
    margin-right: 30px;
}

.about-list-item:nth-child(2) {
    margin-right: 64px;
}

.about-desc {
    width: 500px;
}

.sub-paragraph {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 40px;
}

/* price section */
.price {
    padding-top: 130px;
    padding-bottom: 130px;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-image: url("../images/price-bgd.png");
}

.price .section-title{
    margin-bottom: 45px;
}

.price-list-wrp {
    display: flex;
    margin-bottom: 50px;
}

.price-list-item {
    width: 50%;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.price-list-item:first-child {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item:last-child {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-item {
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.price-inner-item:nth-child(4n+4) {
    margin-bottom: 0;
}

.price-inner-item::before {
    content: '';
    display: inline-block;
    flex-grow: 1;    
    height: 1px;    
    background-color: rgba(157, 164, 189, 0.12);
}

.price-desc {
    order: -1;
}


.price .btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* benefits section */
.benefits {
    padding-top: 130px;
    padding-bottom: 130px;
}

.benefits-wrp {
    display: flex;
}

.benefits .table-list {    
    width: 370px;
    margin-right: 130px;
    margin-left: 117px;
}

.benefits .table-item {    
    background-color: var(--bgc);
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.benefits .table-item:nth-child(odd) {
    margin-right: 30px;
    margin-bottom: 30px;
}

.benefits .table-item:nth-child(even) {
    margin-top: 30px;    
}

.benefits-cnt {
    display: flex;
    justify-content: center;
}

.benefits-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;    
    letter-spacing: 0.05em;
    color: var(--main-light-theme);
}

.benefits-symbol {   
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    letter-spacing: 0em;
    color: var(--accent-txt-cl);
}

.benefits-paragraph {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: var(--main-light-theme);
}

.benefits-desc {
    width: 500px;
}

/* team section */
.team {
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: var(--bgc);
}

.team .table-list {
    --cnt: 3;   
}

.team .table-item:not(:last-child) {
    margin-right: 30px;
}

.team-img {
    display: block;
}

.team-desc {
    text-align: center;
    margin-top: 30px;
}

.team-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;    
    letter-spacing: 0.02em;
    color: var(--main-light-theme);
    margin-bottom: 8px;
}

.team-grade {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;    
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);
    margin-bottom: 30px;
}

.team-list {
    display: flex;
    justify-content: center;
}

.team-list-item:not(:last-child) {
    margin-right: 10px;
}

.team-list-item {
    width: 44px;
    height: 44px;
}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--main-dark-theme);
    color: var(--main-light-theme);

    transition: color var(--anim-reg);
}

.team-icon {
    fill: currentColor;
}

.team-link:focus,
.team-link:hover {
    color: var(--accent-txt-cl);
}

/* portfolio section */
.portfolio {
    padding-top: 130px;
    padding-bottom: 130px;
}

.portfolio .table-list {
    --cnt: 4;    
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio .table-item:not(:last-child) {
    margin-right: 30px;
}

.portfolio-img {
    display: block;
}

.overlay-wrp {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);

    width: 100%;
    height: 360px;

    display: flex;
    align-items: center;   
    padding: 15px;

    opacity: 0.7;   
    background-color: rgba(48, 48, 48, 1);
    transition: transform var(--anim-reg);
}

.overlay-dsc { 
    font-weight: 900;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--accent-txt-cl);
}

.portfolio-item:hover .overlay-wrp,
.portfolio-item:focus .overlay-wrp {
    transform: translateY(0);
}


/* contacts section */
.contacts {
    padding-top: 130px;
    padding-bottom: 130px;
    
    background-image: url("../images/contacts-bgd.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 50% left calc(50% + 312px);
}

.contacts-wrp {
    display: flex;
}

.contacts-item {
    width: 50%;    
}

.form-title {        
    opacity: 0.6;
    margin-bottom: 44px;
}

.contacts-title {
    margin-bottom: 40px;
}

.contacts-list {
    width: 270px;
    margin-bottom: 70px;
}

.contacts-li {
    margin-bottom: 20px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-txt-cl);   
}

.contacts-icon {
    margin-right: 16px;
    fill: currentColor;
}



.contacts-sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-dark-theme);
    margin-bottom: 20px;
}

.contacts-work-time {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-txt-cl);
}

/* footer section */
.footer {
    display: flex;
    align-items: center;
    background-color: var(--bgc);
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-paragraph {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--third-txt-cl);
}

.footer-list {
    display: flex;
    margin-left: auto;
}

.footer-item:first-child {
    margin-right: 40px;
}

